.column {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.column__sub {
  width: 50%;
  float: left;
  text-align: center;
  box-sizing: border-box;
}

.column__sub_div {
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-align: left;
  max-width: 24rem;
  margin: 0 auto;
}

.topHead {
  text-align: left;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #323232;
  width: 100%;
  font-size: 1.4em;
}

.form-holder {
  margin: 3rem auto;
  max-width: 380px;
  background: #fff;
  padding: 1rem 1rem 1.5rem;
  border-radius: 6px;
  box-shadow: 2px 2px 4px #666;
}

.form__fields {
  -webkit-transition: all 1500ms ease-in-out;
  -moz-transition: all 1500ms ease-in-out;
  -ms-transition: all 1500ms ease-in-out;
  -o-transition: all 1500ms ease-in-out;
  transition: all 1500ms ease-in-out;
}

.form.column__sub {
  padding-top: 0.6rem;
  padding-bottom: 1.2rem;
}

input,
select {
  height: 2.5rem;
  box-sizing: border-box;
  min-width: 18rem;
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  padding-left: 0.4rem;
  width: 100%;
}

.sub_div_label {
  color: #242424;
  line-height: 1.5rem;
  letter-spacing: 0.03rem;
}

.btn {
  background: #08a750;
  color: #fff;
  border: 0;
  border-radius: 4px;
  font-weight: 700;
  display: block;
  width: 18rem;
  height: 3rem;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  font-size: 1.6rem;
  box-sizing: border-box;
  border: 1px solid #01662f;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  margin-top: 10px;
  width: 100%;
}

.btn:hover {
  background: #3f60ad;
  border: 1px solid #10307c;
}

@media screen and (max-width: 36rem) {
  .maps.column__sub,
  img.tree {
    display: none;
  }
  .column__sub {
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
  }

  .Seal {
    margin-top: 0.625rem;
    max-width: 200px;
    padding-bottom: 1rem;
  }

  .List {
    margin-top: 2rem;
  }
}
