.column {
  max-width: 75rem;
  margin-left: auto;
  margin-right: auto;
}
.column__sub {
  width: 50%;
  float: left;
  text-align: center;
}

.column__sub_div {
  width: 100%;
  float: left;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-align: left;
}
.form__fields {
  -webkit-transition: all 1500ms ease-in-out;
  -moz-transition: all 1500ms ease-in-out;
  -ms-transition: all 1500ms ease-in-out;
  -o-transition: all 1500ms ease-in-out;
  transition: all 1500ms ease-in-out;
}
.forms.column__sub {
  padding-top: 2.3rem;
  padding-bottom: 3rem;
}

input,
select {
  height: 2.3rem;
  box-sizing: border-box;
  min-width: 18rem;
}

.sub_div_label {
  color: #fff;
  line-height: 1.5rem;
  letter-spacing: 0.03rem;
}
