section {
  width: 100%;
  float: left;
  text-align: center;
  box-sizing: border-box;
}

section.Section.Header {
  border-bottom: 1px solid #ccc;
  padding-top: 0.4rem;
  padding-bottom: 0.3rem;
  padding-left: 2rem;
  text-align: left;
}

.Section--blue {
  background: #b8d433;
  padding-top: 0;
  padding-bottom: 0;
  border-bottom: 1px solid #ccc;
}

.img-holder {
  background: url("./senior.jpg");
  background-size: cover;
  min-height: 534px;
  display: block;
  height: 100%;
  background-repeat: no-repeat;
  max-width: 600px;
  background-position: center center;
}

.Seal {
  margin-top: 7rem;
  max-width: 12rem;
}

.tree {
  width: 100%;
}

.iconHolder {
  width: 35%;
  float: left;
}

.oneFourth {
  width: 25%;
  float: left;
  box-sizing: border-box;
  padding: 1rem;
  margin-top: 0.6rem;
}

.oneFourth > div {
  float: left;
  width: 100%;
}

.iconHolder svg {
  color: #fff;
  background: #fff;
  padding: 12px;
  min-width: 45px;
  max-height: 45px;
  min-height: 45px;
  max-width: 45px;
  border-radius: 50%;
}

.dollar {
  background: #8fb021;
  box-sizing: border-box;
  padding: 0.5rem;
}

.dollar .iconHolder svg {
  color: #8fb021;
}

.images {
  background: #3598db;
  box-sizing: border-box;
  padding: 0.5rem;
}

.images .iconHolder svg {
  color: #3598db;
}

.clipboard {
  background: #f3b35c;
  box-sizing: border-box;
  padding: 0.5rem;
}

.titleHolder {
  color: #fff;
  width: 65%;
  float: left;
  font-size: 1.4rem;
  text-align: left;
  padding-top: 8px;
}

.clipboard .iconHolder svg {
  color: #f3b35c;
}

.star {
  background: #a5c63b;
  box-sizing: border-box;
  padding: 0.5rem;
}

.star .iconHolder svg {
  color: #a5c63b;
}
